<% content_for :profile_subview do %>
<div class="col-sm-12">
<h2><%= t('.title')%></h2>
<p><%= t('.description')%></p>

<h4><%= t('.instrument')%></h4>



<%= render :partial=> 'shared/skills_selector', locals:{user_skill:@user_skill, skill_array:@instruments, label:'instrument'} %>


<h4><%= t('.specials')%></h4>
<p><%= t('.specials_description')%></p>

<h4><%= t('.education')%></h4>
<hr>

<h4><%= t('.availability')%></h4>
<%= render :partial=> 'shared/skills_selector', locals:{user_skill:@user_skill, skill_array:@availabilities, label:'availability'} %>
<hr>
<h4><%= t('.target')%></h4>
<%= render :partial=> 'shared/skills_selector', locals:{user_skill:@user_skill, skill_array:@targets, label:'target'} %>
<h4><%= t('.price')%></h4>
<hr>

<h4><%= t('.transportation')%></h4>
<%= render :partial=> 'shared/skills_selector', locals:{user_skill:@user_skill, skill_array:@transportations, label:'transportation'} %>
<hr>
<h4><%= t('.language')%></h4>
<%= render :partial=> 'shared/skills_selector', locals:{user_skill:@user_skill, skill_array:@languages, label:'language'} %>
</div>

<% end %>




<%= render :template => 'layouts/profile_overview' %>

