  <div class="col-sm-12 aligned-centered">
    <ul class="inline muted">
	  <li><%= link_to t('.contact'), contact_path, :class => 'underlined' %></li>
	  <li><%= link_to t('.privacy'), privacy_path, :class => 'underlined' %></li>
      <li><%= link_to t('.terms'), terms_path, :class => 'underlined' %></li>
      <li><%= link_to t('.imprint'), imprint_path, :class => 'underlined' %></li>
      <li><%= link_to t('.faq'), faq_path, :class => 'underlined' %></li>
    </ul>
  </div>