
          
  <%=form_for(user_address,:class=>'bs-example form-horizontal') do |f| %>

  
  <fieldset class="addressfields">
    <div class="form-group <%='has-error' unless @user_address.errors[:street].blank? %>">
    <%=f.label :street, t('street'), :class=>'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%=f.text_field :street, :class=>'form-control' %>
        <%= error_messages_for(user_address, :street) %>
      </div>
    </div>


    <div class="form-group <%='has-error' unless @user_address.errors[:street_number].blank? %>">
    <%=f.label :street_number, t('street_number'),:class=>'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%=f.text_field :street_number, :class=>'form-control' %>
        <%= error_messages_for(user_address, :street_number) %>
      </div>
    </div>

  
    <div class="form-group <%='has-error' unless @user_address.errors[:postcode].blank? %>">
    <%=f.label :postcode,  t('postcode'), :class=>'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%=f.text_field :postcode, :class=>'form-control' %>
        <%= error_messages_for(user_address, :postcode) %>
      </div>
    </div>
  
  
    <div class="form-group <%='has-error' unless @user_address.errors[:city].blank? %>">
    <%=f.label :city,  t('city'), :class=>'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%=f.text_field :city, :class=>'form-control' %>
        <%= error_messages_for(user_address, :city) %>
      </div>
    </div>
  
   <div class="form-group <%='has-error' unless @user_address.errors[:country_id].blank? %>">
      <%=f.label :country,  t('country'),  :class=>'col-sm-3 control-label' %>
      <div class="col-sm-9">
          
            <% country_array = @countries.map { |country| [t(country.printable_name) , country.id] } %>
            <%= select("user_address", "country_id", country_array, :prompt => t('.select')) %>

        <%= error_messages_for(user_address, :country_id) %>
       
      </div>
    </div>

    <hr/>

  
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <%=f.submit nil, class: "btn btn-primary pull-right"%>
      </div>
    </div>
  </fieldset>
  <% end %>

  
