<% content_for :search_subview do %>



<div id="search-map" class="map-canvas" class="col-sm-8" ></div>


<script type="text/javascript">

latitude=<%= @location['latitude'] %>;


longitude=<%= @location['longitude'] %>;
marks=new Array();

<%

@result_array.each do |r|
%>

mark=new Object();
mark.latitude=<%= r['address'].latitude %>;
mark.longitude=<%= r['address'].longitude %>;

marks.push(mark);

<%
end

%>




refreshMap("search-map", latitude, longitude, marks);

</script>


</div>
<% end %>
<%= render :template => 'layouts/search' %>
