<!DOCTYPE html>
<html>
<head>
  <title><%= t('shared.header.site_title') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
      <div class="main-container">
        <%= render partial: 'shared/header' %>
      </div>

        <div class="main-container">
        <%= render partial: 'shared/navigation' %>
      </div>

       </header>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBlONf7UUoCBLCC8F-zCQ4Ur0YuSi2fWQo&sensor=false"></script>

    <div id="main" class="main-container">
        <% if !@breadcrumbs.blank? %>
          <%= render partial: 'shared/breadcrumb'%>
        <% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
        <%= render partial: 'shared/footer'%>
    </div>


    
</body>
</html>
